[heater_bed]
heater_pin: PB4
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC2
max_power: 0.6
min_temp: 0
max_temp: 115
control = pid
pid_kp=36.970
pid_ki=0.982
pid_kd=347.983

#smooth_time: 5.0
#[verify_heater heater_bed]
#check_gain_time: 120


# fans for the electronics in the basement, controlled by the heater bed temp
# the two fans are wired in parallel to the same pin
[heater_fan electronics_fan]
pin: PB2
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0


[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,25
	50,275
	300,275
	300,25

speed: 1000
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
speed: 1000
horizontal_move_z: 12
mesh_min: 20,20
mesh_max: 330,330
fade_start: 0.2
fade_end: 2
probe_count: 5,5
algorithm: bicubic
split_delta_z: 0.01
relative_reference_index: 12
faulty_region_1_min: 70.0, 325.0
faulty_region_1_max: 130.0, 350.0
