# setup for klicky probe

[include klicky/klicky-variables.cfg]
[include klicky/klicky-macros.cfg]
[include klicky/z_calibration.cfg]
[include klicky/z_sanity_check.cfg]
[include klicky/menu.cfg]


[probe]
x_offset: 0
y_offset: 19.75
z_offset: 6.42
speed: 10

samples: 3
samples_result: average
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 5
