[gcode_macro DISABLE_STEPPERS]
gcode:
  M18


# requires enable_force_move: True - see axes.cfg 
[gcode_macro DISABLE_XY_STEPPERS]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0


[gcode_macro TEST_PROBE]
gcode:
  QGL
  PROBE_ACCURACY


[gcode_macro DISABLE_PRESSURE_ADVANCE]
gcode:
  SET_PRESSURE_ADVANCE ADVANCE=0 SMOOTH_TIME=0


[gcode_macro Z_OFFSET]
gcode:
  MESH_PREP
  G1 X175 Y175 F20000
  Z_ENDSTOP_CALIBRATE
  # TESTZ Z=-1
  # ACCEPT
  # SAVE_CONFIG


[gcode_macro DUMP_CONFIG]
gcode:
 {% for name1 in printer %}
    {% for name2 in printer[name1] %}
       { action_respond_info("printer['%s'].%s = %s"
                             % (name1, name2, printer[name1][name2])) }
    {% else %}
       { action_respond_info("printer['%s'] = %s" % (name1, printer[name1])) }
    {% endfor %}
 {% endfor %}


# cura search and replace regex:
# ;LAYER_COUNT:(\d+) -> ;LAYER_COUNT:\1\nSET_MAX_LAYERS VALUE=\1
# ;LAYER:(\d+)       -> ;LAYER:\1\nSET_LAYER VALUE=\1 


[gcode_macro SET_MAX_LAYERS]
variable_max: 0
gcode:
  SET_GCODE_VARIABLE MACRO=SET_MAX_LAYERS VARIABLE=max VALUE={params.VALUE}
  { action_respond_info("max layers set to %d" % (params.VALUE|int)) }

[gcode_macro SET_LAYER]
gcode:
  {% set lstring = "layer %d of %d" % ((params.VALUE|int + 1), (printer["gcode_macro SET_MAX_LAYERS"].max|int)) %}
  {% set msg = "printing %s" % (lstring) %}
  { action_respond_info(msg) }
  M117 { lstring }


[delayed_gcode CLEAR_LCD]
initial_duration: 0
gcode:
  M117

