# based on https://github.com/FYSETC/FYSETC-SPIDER/blob/main/firmware/Klipper/printer.cfg
#
# this config is specific to:
#  - voron 2.4
#  - 350x350x350mm
#  - spider v1.0 board connected via usb
#  - tmc2009 steppers
#  - bondtech lgx extruder
#
# be sure to go through the preflight checks here to verify your setup:
#
#   https://docs.vorondesign.com/build/startup/
#
# as always, ymmv.


[include toolhead.cfg]
[include axes.cfg]
[include bed.cfg]
[include display.cfg]
[include macros.cfg]
[include menu.cfg]

[include extras.cfg]


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_0E0036000950305538333620-if00
restart_method: command


[printer]
kinematics: corexy
max_velocity: 500
max_z_velocity: 50
max_z_accel: 350

# see macros/accel.cfg
max_accel: 10000
#max_accel_to_decel: 5000 (defaults to 1/2 max_accel)


[respond]
default_prefix: ""


[idle_timeout]
timeout: 1800
gcode:
  TURN_OFF_HEATERS
  DISABLE_STEPPERS
  BED_MESH_CLEAR
  STATUS_OFF
  { action_respond_info("idle timeout triggered") }


[pause_resume]


[display_status]


[virtual_sdcard]
path: /home/pi/gcode_files


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 0.6
#*#
