[z_calibration]
probe_nozzle_x: 232
probe_nozzle_y: 350

probe_switch_x: 229
probe_switch_y: 330

switch_offset: 0.50    # smaller values == farther from bed

max_deviation: 1.0

probing_first_fast: true

start_gcode: Dock_Probe_Unlock
before_switch_gcode: Attach_Probe
end_gcode: Dock_Probe


# using a value other than 0 seems to confuse CALIBRATE_Z 
# on multiple BED_MESH_CLEAR + QGL + BED_MESH_CALIBRATE cycles
#
# also note, this overrides any SAVE_CONFIG in printer.cfg
[stepper_z]
position_endstop = 0.0


[gcode_macro AUTO_CALIBRATE_Z]
description: klicky auto-z routine
variable_skip: False
gcode:
  {% if skip %}
    M118 skiping AUTO_CALIBRATE_Z
    SKIP_AUTO_CALIBRATE_Z SKIP=False
  {% else %}
    M118 calculating z offset...
    STATUS_AUTO_Z_START
    M107
    DOCK_PROBE
    BRUSH TIMES=5 RETRACT=1
    SET_IDLE_TIMEOUT TIMEOUT=60
    CALIBRATE_Z
    SET_IDLE_TIMEOUT TIMEOUT={printer.configfile.settings.idle_timeout.timeout}
    GET_POSITION
    DISPLAY_Z
    STATUS_AUTO_Z_END
    Z_SANITY_CHECK
    STORE_Z_OFFSET
  {% endif %}


[gcode_macro SKIP_AUTO_CALIBRATE_Z]
description: skip auto z calibrate
gcode:
  {% set skip = params.SKIP|default(True, True)|int %}

  SET_GCODE_VARIABLE MACRO=AUTO_CALIBRATE_Z VARIABLE=skip VALUE={skip}

  M118 { 'SKIP_AUTO_CALIBRATE_Z = %d' % (skip) }


[gcode_macro DISPLAY_Z]
description: show z offset
gcode:
  {% set msg = "z offset: %0.2f" % (printer.gcode_move.homing_origin.z) %}
  M117 { msg }


[gcode_macro STORE_Z_OFFSET]
description: store z offset in save variables for later
gcode:
  {% set key = 'stored_last_z_offset' %}

  SAVE_VARIABLE VARIABLE={key} VALUE={printer.gcode_move.homing_origin.z}

  DISPLAY_SAVE_VARIABLE KEY={key}


[gcode_macro HOME_SWITCH]
gcode:
  {% set x  = printer['configfile'].config['z_calibration']["probe_switch_x"]|float %}
  {% set y  = printer['configfile'].config['z_calibration']["probe_switch_y"]|float %}

  {% set msg = "switch body located at X%0.1f Y%0.1f" % (x,y) %}

  M118 { msg }

  CHECK_QGL

  Attach_Probe

  SAVE_GCODE_STATE NAME=__locate
  G90
  G1 X{x} Y{y} Z10 F3000
  G1 Z8 F600
  RESTORE_GCODE_STATE NAME=__locate


[gcode_macro HOME_NOZZLE]
gcode:
  {% set x  = printer['configfile'].config['z_calibration']["probe_nozzle_x"]|float %}
  {% set y  = printer['configfile'].config['z_calibration']["probe_nozzle_y"]|float %}

  {% set msg = "nozzle located at X%0.1f Y%0.1f" % (x,y) %}

  M118 { msg }

  CHECK_QGL

  Dock_Probe

  SAVE_GCODE_STATE NAME=__locate
  G90
  G1 X{x} Y{y} Z10 F3000
  G1 Z2 F600
  RESTORE_GCODE_STATE NAME=__locate
