# mosquito + cht

[extruder]

pressure_advance: 0.08
pressure_advance_smooth_time: 0.02

nozzle_diameter: 0.400
sensor_type: ATC Semitec 104NT-4-R025H42G
max_temp: 300

control = pid
pid_kp = 24.636
pid_ki = 1.493
pid_kd = 101.624


[printer]
square_corner_velocity: 5
