[gcode_macro Z_OFFSET]
description: start manual z offset routine
gcode:
  MESH_PREP
  G1 X175 Y175 F20000
  Z_ENDSTOP_CALIBRATE
  # TESTZ Z=-1
  # ACCEPT
  # SAVE_CONFIG


[delayed_gcode CLEAR_LCD]
initial_duration: 0
gcode:
  M117


[gcode_macro MOVE_AROUND]
description: do one iteration of the speed test
gcode:

  CHECK_QGL

  {% set speed = 300 %}
  {% set bound = 20 %}

  {% set x_min = printer.toolhead.axis_minimum.x + bound %}
  {% set x_max = printer.toolhead.axis_maximum.x - bound %}
  {% set y_min = printer.toolhead.axis_minimum.y + bound %}
  {% set y_max = printer.toolhead.axis_maximum.y - bound %}

  G0 X{x_min} Y{y_min} F{speed * 60}

  G0 X{x_min} Y{y_max} F{speed * 60}
  G0 X{x_max} Y{y_max} F{speed * 60}
  G0 X{x_max} Y{y_min} F{speed * 60}
  G0 X{x_min} Y{y_min} F{speed * 60}

  G0 X{x_max} Y{y_max} F{speed * 60}
  G0 X{x_min} Y{y_min} F{speed * 60}

  G0 X{x_max} Y{y_min} F{speed * 60}
  G0 X{x_max} Y{y_max} F{speed * 60}
  G0 X{x_min} Y{y_max} F{speed * 60}

  G0 X{x_max} Y{y_min} F{speed * 60}
  G0 X{x_min} Y{y_max} F{speed * 60}

  G0 X{x_min} Y{y_min} F{speed * 60}


# cura search and replace regex:
# ;LAYER_COUNT:(\d+) -> ;LAYER_COUNT:\1\nSET_MAX_LAYERS VALUE=\1
# ;LAYER:(\d+)       -> ;LAYER:\1\nSET_LAYER VALUE=\1 

[gcode_macro SET_MAX_LAYERS]
description: store total number of layers, making it available to other macros
variable_max: 0
gcode:
  SET_GCODE_VARIABLE MACRO=SET_MAX_LAYERS VARIABLE=max VALUE={params.VALUE}
  { action_respond_info("max layers set to %d" % (params.VALUE|int)) }

[gcode_macro SET_LAYER]
description: set current layer number, making it available to other macros
gcode:
  {% set lstring = "layer %d of %d" % ((params.VALUE|int + 1), (printer["gcode_macro SET_MAX_LAYERS"].max|int)) %}
  {% set msg = "printing %s" % (lstring) %}
  { action_respond_info(msg) }
  M117 { lstring }
